{{ define "head" }}
<meta charset="UTF-8">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
{{end}}

{{ define "js" }}
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script type="text/javascript" src="/static/javascript/script.js"></script>
{{ end }}

{{ define "navbar" }}
{{ end }}

{{ define "footer" }}
<footer class="footer">
    <div class="container">
        <p class="text-muted">Developed by team G.J.A</p>
    </div>
</footer>
{{ end }}
